    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: bisque;
        color: brown;
    }

    img {width: 250px; height: 200px; 
        margin-left: 200px;
    }
    .img2{ width: 350px; height: 200px;}
    .titulo2 {color:red}
